<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.MemberMapper">
<select id="getTime" resultType="String">
	SELECT now()
</select>
<select id="findAll" resultType="com.example.domain.Member">
	SELECT  
		 id as id
		,home_city as homeCity
		,home_street as homeStreet
		,home_zipcode as homeZipCode
		,name as name
		,e_date as eDate
		,s_date as sDate
		,team_id as teamId
	FROM 
		Members
</select>
<resultMap type="com.example.domain.Member" id="memberMap">
	<id column="member_id" property="id" />
	<result column="member_home_city" property="homeCity" />
	<result column="member_home_zip_code" property="homeZipCode" />
	<result column="member_name" property="name" />
	<result column="member_s_date" property="sDate" />
	<result column="member_e_date" property="eDate" />
	<result column="member_team_id" property="teamId" />
	<association property="team" javaType="com.example.domain.Team">
		<id column="team_id" property="id" />
		<result column="team_name" property="name" />
	</association>
</resultMap>
<select id="findOne" parameterType="int" resultMap="memberMap">
	SELECT  
		 m.id as member_id
		,m.home_city as member_home_city
		,m.home_street as member_home_street
		,m.home_zipcode as member_home_zip_code
		,m.name as member_name
		,m.e_date as member_e_date
		,m.s_date as member_s_date
		,m.team_id as member_team_id
		,t.team_id as team_id
		,t.team_name as team_name
	FROM 
		Members m
	LEFT OUTER JOIN Team t ON t.team_id =  m.team_id
	WHERE m.id = #{id}
</select>
<select id="statistics" resultType="com.example.domain.MemberStatistics">
	SELECT
		team_id as teamID
		,
		CASE 
			WHEN team_id = 1 THEN 'TEAM A'
			WHEN team_id = 2 THEN 'TEAM B'
			ELSE NULL
		END	as teamName
		,count(team_id) as count
	FROM
		Members m
	GROUP BY m.team_id
</select>
<insert id="insert">
	INSERT
	INTO 
	Members
		(home_city, home_street, home_zipcode, name, e_date, s_date, team_id)
	VALUES 
		(#{homeStreet},#{homeStreet},#{homeZipCode},#{name},#{eDate},#{sDate},#{teamId})
</insert>
<delete id="delete">
	DELETE
	FROM
	Members
	Where id = #{id}
</delete>
</mapper>